<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.qulturapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Qulturapp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"
        tools:replace="android:allowBackup"
        >

        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.museum.ListMuseum"
            android:exported="true"></activity>
        <activity android:name=".view.solicitudes.ActivitySolicitudes"></activity>
        <activity android:name=".view.sesion.ActivitySignUp"></activity>
        <activity android:name=".view.sesion.ActivitySignIn"></activity>
        <activity android:name=".view.solicitudes.ActivityHorario"></activity>
        <activity android:name=".view.museum.Museum"></activity>
        <activity android:name=".view.solicitudes.ActivityHorario2"></activity>
        <activity android:name=".view.eventos.EventoActivity"></activity>
        <activity android:name=".view.Info.ActivityInfo"></activity>
        <activity android:name=".view.Info.GuiaActivity"></activity>
        <activity android:name=".view.museum.Gallery"></activity>
        <activity android:name=".view.museum.Artwork"></activity>
        <activity android:name=".view.museum.Lounge"></activity>
        <activity android:name=".view.configuracion.ActivityConfiguration"></activity>
        <activity android:name=".view.perfil.ProfileActivity"></activity>
    </application>

</manifest>